@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'League-Spartan';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(src/assets/font/LeagueSpartan-Black.woff) format('woff');
    }

    @font-face {
        font-family: 'Major-Mono-Display';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(src/assets/font/MajorMonoDisplay-Regular.ttf) format('truetype');
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}